
@{
    ViewBag.Title = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="~/Content/lead-app-content/css/widget.css">

<link rel="stylesheet" href="~/Content/lead-app-content/css/chartist.css" type="text/css" media="all">

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-home bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Dashboard page</h5>
                    <span>Dashboard page goes here</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Users","Dashboard")"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">User Module</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-blue st-cir-card text-white">
                            <div class="card-block">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div id="status-round-1" class="chart-shadow st-cir-chart" style="width:80px;height:80px">
                                            <h5>@ViewBag.usedPercentage%</h5>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                        <h3 class=" f-w-700 m-b-5">@ViewBag.remainingCredits</h3>
                                        <h6 class="m-b-0 ">Credits Remaining</h6>
                                    </div>
                                </div>
                                <span class="st-bt-lbl">@ViewBag.usedPercentage</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="styleSelector">
</div>

@section Scripts {
    <script src="~/Content/lead-app-content/js/chartist.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            var chart = new Chartist.Pie('#status-round-1',
                { series: [@ViewBag.remainingPercentage,@ViewBag.usedPercentage] },
                { donut: true, donutWidth: 8, showLabel: false });
        });

    </script>
}